.wrap1 {
	BACKGROUND: url(/Registration/css/themes/green/header.jpg) no-repeat; POSITION: relative;
}
A:link {
	cursor: pointer;
	
}
.timeStyle{
	font-weight:500;
	color: white;
	
}

#headerdivnew{
	background-image:url("/Registration/css/themes/green/header.jpg");
	height:150px;
	margin:0 auto;
	background-repeat:no-repeat;
	
}